@import 'global';

html {
  box-sizing: border-box;
  font-size: 10px; // Set 1rem to 10px base.
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3, p, ul {
  margin: 0;
}

ul {
  padding: 0;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.content-wrapper {
  max-width: $max-content-width;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.come-in {
  transform: translateY(150px);
  animation: come-in 0.8s ease forwards;
}

.come-in:nth-child(odd) {
  animation-duration: 0.6s; /* So they look staggered */
}

.already-visible {
  transform: translateY(0);
  animation: none;
}

@keyframes come-in {
  to { transform: translateY(0); }
}

