@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Roboto+Condensed|Roboto:100,300,400,500');
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?2b74zw');
  src:  url('../fonts/icomoon.eot?2b74zw#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?2b74zw') format('truetype'),
    url('../fonts/icomoon.woff?2b74zw') format('woff'),
    url('../fonts/icomoon.svg?2b74zw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-discord:before {
  content: "\e901";
  color: #7289da;
}
.icon-facebook:before {
  content: "\e902";
  color: #3b5998;
}
.icon-twitter:before {
  content: "\e903";
  color: #1da1f2;
}
.icon-arrow-repeat:before {
  content: "\e900";
}
.icon-heart-outline:before {
  content: "\e904";
}
.icon-flash-outline:before {
  content: "\e905";
}
.icon-eye-outline:before {
  content: "\e906";
}
.icon-pen:before {
  content: "\e907";
}
.icon-arrow-down:before {
  content: "\e908";
}
.icon-device-phone:before {
  content: "\e909";
}
.icon-device-desktop:before {
  content: "\e90a";
}
