
$max-content-width: 102.4rem;

$white: #ffffff;
$dark-periwinkle: #7388d3;
$red-pink: #f04168;
$dark-grey-blue: #334d6d;
$blue-grey: #7b8b9f;

// Use pixels for break points due to browser inconsistencies.
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;