.footer {
  padding: 3rem 2rem;
  
  .content-wrapper.footer-wrapper {
    display: grid;
    grid-template-rows: auto auto auto;
    justify-items: center;
    grid-gap: 2rem;
    
    p {
      font-family: "Roboto", sans-serif;
      font-size: 1.4rem;
      text-align: center;
      color: $dark-grey-blue;
    }

    .social {
      display: inline-grid;
      grid-template-columns: auto auto auto auto;
      grid-gap: 2.5rem;
      align-items: center;

      a {
        font-size: 2.2rem;
        text-decoration: none;
      }

      .jump-to {
        background: transparent;
        color: $dark-grey-blue;
        border: solid .3rem $dark-grey-blue;

        &:hover {
          background-color: $dark-grey-blue;
          color: $white;
        }

        &:before {
          transform: rotate(180deg);
        }
      }
    }
  }

  @media only screen and (min-width: $desktop-breakpoint) {
    .content-wrapper.footer-wrapper {
      grid-template-rows: auto;
      grid-template-columns: auto 1fr auto auto;
      align-items: center;
    
      p:nth-of-type(1) {
        justify-self: start;
        grid-column: 1;
      }

      p:nth-of-type(2) {
        justify-self: end;
        grid-column: 3;
      }

      .social {
        justify-self: end;
        grid-column: 4;
      }
    } 
   }
}