@import '../../global';

.hero {
  background: url('../images/backgrounds/header.jpg') left center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 4rem 2rem;

  .content-wrapper.header-wrapper {
    display: grid;
    grid-template-rows: auto auto;
    justify-items: center;

    .logo {
      &.icon {
        width: 11.6rem;
        height: 9.1rem;
        justify-self: center;
        margin-bottom: 20px;
      }

      &.typeface {
        width: 25.4rem;
        height: 5.7rem;
        justify-self: center;
        margin-bottom: 4rem;
      }
    }

    .call-to-action {
      display: inline-grid;
      grid-template-rows: auto auto;
      justify-items: center;
    }

    .action-buttons {
      display: inline-grid;
      grid-template-rows: auto auto auto;
      grid-gap: 2rem;
      margin-bottom: 4rem;
      justify-content: center;

      .button {
        width: 16rem;
      }
    }
  }

  @media only screen and (min-width: $tablet-breakpoint) {
    padding-top: 12.2rem;

    .content-wrapper.header-wrapper {
      .logo.icon {
        width: 18.9rem;
        height: 14.8rem;
        margin-bottom: 0;
      }

      .logo.typeface {
        width: 37.9rem;
        height: 8.5rem;
        margin-bottom: 0;
        align-self: center;
      }

      .call-to-action {
        grid-template-columns: auto auto;
      }

      .action-buttons {
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        grid-column: 1 / -1;
        margin-top: 4.8rem;
        margin-bottom: 5rem;
      }

      .jump-to {
        grid-column: 1 / -1;
      }
    }
  }

  @media only screen and (min-width: $desktop-breakpoint) {
    .content-wrapper.header-wrapper {
      .logo.typeface {
        width: 41.8rem;
        height: 8.5rem;
      }

      .heading {
        font-size: 3.5rem;
      }
    }
  }
}