@import '../../global';


$common-line-height: 2.3rem;

.info {
  padding: 4rem 2rem;

  .content-wrapper.info-wrapper > .heading {
    display: inline-grid;
    grid-template-rows: auto auto auto;
    justify-items: center;
    justify-content: center;
    grid-gap: .9rem;
    font-family: 'Roboto', sans-serif;
    font-size: 4.2rem;
    font-weight: 500;
    color: $dark-grey-blue;
    margin-bottom: 2rem;
    justify-self: center;

    .logo.typeface {
      width: 27.9rem;
      height: 5.7rem;
    }
  }

  .sub-heading {
    font-family: 'OpenSans', sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    color: $blue-grey;
    max-width: 28rem;
    margin-bottom: 3rem;
    text-align: center;
    line-height: $common-line-height;
    opacity: 0.7;
    justify-self: center;
  }

  .content-wrapper {
    display: grid;
    grid-template-rows: auto  auto  auto;
  }

  .info-articles {
    display: inline-grid;
    grid-template-rows: auto .2rem auto .2rem auto;
    grid-gap: 3rem;
    justify-content: center;

    .divider {
      background-color: $red-pink;
      height: 0.2rem;
      width: 20rem;
      justify-self: center;
    }

    .info-article {
      display: inline-grid;
      grid-template-rows: auto auto auto;
      grid-gap: 3rem;
      justify-items: center; 
      max-width: 28rem;

      i {
        font-size: 9.7rem;
        color: $dark-periwinkle;
        margin-bottom: -1rem;
      }

      .heading {
        margin-bottom: 0;
        text-align: center;
        max-width: 23.4rem;
        font-family: 'Roboto', sans-serif;
        font-size: 22px;
        font-weight: 500;
        font-style: normal;
        color: $dark-grey-blue;
      }

      .text {
        font-family: 'OpenSans', sans-serif;
        font-size: 1.6rem;
        font-weight: 300;
        color: $blue-grey;
        max-width: 28rem;
        text-align: center;
        line-height: $common-line-height;
        opacity: 0.7;
      }
    }
  }

  @media only screen and (min-width: $tablet-breakpoint) {
    padding: 6rem 2rem;

    .content-wrapper.info-wrapper {
      .heading {
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        align-items: center;
        margin-bottom: 3rem;
      }

      .sub-heading {
        max-width: 100%;
        font-size: 2rem;
        margin-bottom: 6rem;
      }

      .info-article {
        max-width: 38.4rem;

        .heading,
        .text {
          max-width: 100%;
        }

        .heading {
          margin-bottom: 0;
        }

        .text {
          font-size: 2rem;
          line-height: 2.6rem;
        }
      }
    }
  }

  @media only screen and (min-width: $desktop-breakpoint) {
    .content-wrapper.info-wrapper {
      .info-articles {
        grid-template-rows: auto;
        grid-template-columns: minmax(auto, 29rem) .2rem minmax(auto, 29rem) .2rem minmax(auto, 29rem);
        justify-content: space-between;

        .divider {
          background-color: $red-pink;
          height: 20rem;
          width: 0.2rem;
          align-self: center;
        }

        .info-article {
          max-width: 31.7rem;
          position: relative;

          &:nth-of-type(1) {
            grid-column: 1;
          }

          &:nth-of-type(2) {
            grid-column: 3;
          }

          &:nth-of-type(3) {
            grid-column: 5;
          }

          .text {
            max-width: 27rem;
          }
        }
      }
    }
  }
}