@import '../../global';

.button {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: $white;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.8rem;
  color: $dark-periwinkle;
  min-width: 1.6rem;
  width: 100%;
  padding: 1rem 0;
  border-radius: 3.5rem;
  text-align: center;
  outline: none;
  border: 2px solid transparent;
  transition: background-color 200ms;

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: transparent;
    color: $white;
    border: 2px solid $white;
  }

  i {
    margin-left: 1.5rem;
    font-size: 2rem;
  }
}