.heading {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 2.6rem;
  letter-spacing: .1rem;
  color: $white;
  max-width: 28rem;
  margin-bottom: 2rem;
  text-align: center;

  strong {
    font-weight: 500;
  }

  @media only screen and (min-width: #{$tablet-breakpoint}) {
    max-width: 100%;
  }
}