.input {
  padding: 1.4rem 1.1rem;
  min-width: 28rem;
  width: 100%;
  border-radius: .6rem;
  outline: none;
  font-size: 1.2rem;
  border: 2px solid transparent;
  transition: all 200ms ease-in-out;

  &.error {
    border: 2px solid $red-pink;

    &::-webkit-input-placeholder {
      color: $red-pink;
    }
  }

  &:focus {
    border-color: $dark-grey-blue;
  }

  &::-webkit-input-placeholder {
    font-family: 'OpenSans', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    color: $dark-periwinkle;
  }
}