.jump-to {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 100%;
  border: solid 3px $white;
  background: transparent;
  color: $white;
  font-size: 3rem;
  transition: background-color 200ms ease-in-out;
  animation: jumpTofloat 4s 1s infinite ease-in-out;
  outline: none;

  &:hover {
    background-color: $white;
    color: $dark-periwinkle;
  }

  @keyframes jumpTofloat {
    0% { transform: translateY(-5%); }
    50% { transform: translateY(5%); }
    100% { transform: translateY(-5%); }
  }
  
  i {
    position: relative;
    top: -3.3px
  }
}