.button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.8rem;
  color: #7388d3;
  min-width: 1.6rem;
  width: 100%;
  padding: 1rem 0;
  border-radius: 3.5rem;
  text-align: center;
  outline: none;
  border: 2px solid transparent;
  transition: background-color 200ms; }
  .button:focus {
    outline: none; }
  .button:hover {
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #ffffff; }
  .button i {
    margin-left: 1.5rem;
    font-size: 2rem; }
